<!-- <% var songSearch = "search"; %>
<form class="form-inline my-2 my-lg-0" action="/queue/suggest/<%= songSearch%>" method="GET">
    <label for="<%= songSearch%>"></label>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="<%= songSearch%>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br> -->
<% for (let i = 0; i < videos.items.length; i++) { %>
    <div class="card" style="width: 35rem;">
      <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= videos.items[i].id.videoId %>"> allowfullscreen></iframe>
      </div> -->
      <img class="card-img-top" src="<%= videos.items[i].snippet.thumbnails.high.url %>" alt="Video Thumbnail">
      <div class="card-body">
        <h5 class="card-title"><a href="/queue"><%= videos.items[i].snippet.title %></a></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= videos.items[i].snippet.description %></h6>
        <p class="card-text">
        </p>
        <form action="/queue" method="POST">
            <label for="title"></label>
            <input type="hidden" value="<%= videos.items[i].snippet.title %>" name="title"> 
            <label for="imageURL"></label>
            <input type="hidden" value="<%= videos.items[i].snippet.thumbnails.high.url %>" name="imageURL"> 
            <label for="videoURL"></label>
            <input type="hidden" value="https://www.youtube.com/embed/<%= videos.items[i].id.videoId %>" name="videoURL">
            <label for="videoDescription"></label>
            <input type="hidden" value="<%= videos.items[i].snippet.description %>" name="videoDescription">  
            <input class="btn btn-outline-primary" type="submit" value="Suggest Song"/>
        </form>
      </div>
    </div>
<% } %>